@{
    ViewData["Title"] = "Index";
}
<h1>Encounter Manager</h1>
<p class="w-50">
    This is a simple manager for your encounters so you can keep track of enemies health and resources during a fight. Click the button to add an enemy and edit what
    they have.
</p>
<button id="addbtn" class="btn btn-sm btn-danger">Add Enemy</button>
<hr />
<div class="row">

    <div class="col" id="list">

    </div>

</div>